<html lang="en">
<head>
    {% include 'components/base_headers.html' %}
    <title>Change Password - TINET</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <link rel="stylesheet" href="{% static 'css/account/change_password.css' %}">
</head>
<body>
{% include 'components/navbar.html' %}
<h1>Change Password</h1>
<form method="post">
    {% csrf_token %}
    {{ form.as_p }}

    <button type="submit">Change Password</button>
</form>
</body>
</html>
