<html lang="en">
<head>
    {% include 'components/base_headers.html' %}
    <title>Forgot Password - TINET</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <link rel="stylesheet" href="{% static 'css/account/forgot_password.css' %}">
</head>
<body>
{% include 'components/navbar.html' %}
<h1>Forgot Password</h1>
<p>Enter your email address below, and we'll email instructions for setting a new one.</p>

<form method="POST">
  {% csrf_token %}
  {{ form.as_p }}
  <input type="submit" value="Send me instructions!">
</form>
</body>
</html>
