<html lang="en">
<head>
    {% include 'components/base_headers.html' %}
    <title>Password Reset Mail Sent - TINET</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <link rel="stylesheet" href="{% static 'css/account/password_reset_mail_sent.css' %}">
</head>
<body>
{% include 'components/navbar.html' %}
<h1>Check your inbox.</h1>
<p>We've emailed you instructions for setting your password. You should receive the email shortly!</p>
</body>
</html>
