<html lang="en">
<head>
    {% include 'components/base_headers.html' %}
    <title>Register - TINET</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <link rel="stylesheet" href="{% static 'css/account/register.css' %}">
</head>
<body>
{% load socialaccount %}
{% include 'components/navbar.html' %}
    <h1>Register</h1>
    <form id="tkbauthLoginForm" action="{% provider_login_url 'tkbstudios-auth' %}" method="post">
        {% csrf_token %}
        <button type="button" onclick="submitForm()" class="social-login-btn">
            Register with<br>
            <img src="https://raw.githubusercontent.com/tkbstudios/my-images/main/TKB%20Studios%20Banner.png" alt="TKB Studios" class="banner-img">
        </button>
    </form>
    <div style="text-align: center;">
        By registering, you agree to the following:<br>
        - <a href="/privacy-policy" target="_blank">Privacy Policy</a><br>
        - <a href="/terms-of-service" target="_blank">Terms Of Service</a><br>
    </div>
<script>
    function submitForm() {
        document.getElementById("tkbauthLoginForm").submit();
    }
</script>
</body>
</html>
